#homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
}

.heading2 {
  font-size: 3.5rem;
  margin-bottom: 25px;
  color: black;
}

.difficultyContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.5rem;
}

.difficultyCard {
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: black;
  transition: ease-in-out 0.2s;
}

.difficultyCard:hover {

  box-shadow: 0px 0px 10px 10px white;
}

.bottomRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 15px;
  position: absolute;
  top: 90%;
  right: 200px;
}

.soundBoxContainer,
.helpBoxContainer {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.bottomBoxImage {
  width: 30px;
  height: 30px;
}

.bottomLeftContainer {
  transition: ease-in-out 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 15px;
  position: absolute;
  top: 90%;
  left: 200px;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.activeTheme {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.bottomLeftContainer:hover,
.soundBoxContainer:hover,
.helpBoxContainer:hover,
.difficultyCard:hover {
  cursor: pointer;
}

.helpBoxCard {
  width: 300px;
  background-color: white;
  position: absolute;
  padding: 15px;
  right: 217px;
  bottom: 10%;
  color: black;
  font-size: 1.1rem;
}

.topRightContainer {
  transition: ease-in-out 0.2s;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  padding: 15px;
  right: 217px;
  top: 10%;
  color: black;
  font-size: 1.5rem;
  display: flex ;
  flex-direction: column;
  gap: 5px;
}

.topRightContainer > div {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.gifContainer {
  padding: 15px;
  background-color: aliceblue;
}

.topRightContainer:hover, .bottomLeftContainer:hover {

  box-shadow: 0px 0px 10px 10px black;
}

footer {
  position: absolute;
  top: 90%;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}