.gameCardsContainer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  gap: 15px;
  flex-wrap: wrap;
}

.gifCard {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.gifImage {
  width: 100px;
  height: 100px;
}

.characterImage {
  height: 200px;
  width: 100%;
}

.characterHeading {
  font-size: 1.4rem;
  min-height: 60px;
  text-align: center;
  align-self: center;
}

.characterCard {
  width: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

#gameSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topLeftContainer {
  position: absolute;
  top: 8.8%;
  left: 200px;
  color: white;
}

.scoreboardContainer {
  position: absolute;
  top: 10%;
  right: 200px;
  color: white;
}