body, html {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  font-size: 1rem;
}

@font-face {
  font-family: onePiece;
  src: url('src/assets/one piece font.ttf');
}

@font-face {
  font-family: naruto;
  src: url('src/assets/njnaruto.ttf');
}

@font-face {
  font-family: dragonBall;
  src: url('src/assets/Saiyan-Sans.ttf');
}

.onePiece {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  font-family: onePiece;
}